!!! 5
html
  head
    link(rel="stylesheet", type="text/css", href="styles.css")
    script(src='js/three.js')
    script(src='js/libs/tween.min.js')
    script(src='js/controls/TrackballControls.js')
    script(src='js/renderers/CSS3DRenderer.js')
    script(src='js/jquery.js')
    script(src='main.js')
    script(src='3d.js')
  body
    #menu
      button#table(style='display: none;') TABLE
      button#sphere ♽
      button#helix §
      button#grid ▦
    input#input
    ul#output
