html {
  height: 100%;
}

body {
  height: 100%;
  background: black url(../images/bg_body.png) center center;
  background-size: cover;
  margin: 0;
  font-family: Arial;
  overflow: hidden;
  cursor: move;
}

a {
  color: black;
}

.element {
  cursor: pointer !important;
}

#info {
  position: absolute;
  width: 100%;
  color: black;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.element {
  width: 120px;
  height: 160px;
  text-align: center;
  cursor: default;
}
.element:hover {
  box-shadow: 0px 0px 12px #5d4f3a;
  border: 2px solid rgba(107, 0, 0, 0.9) !important;
}
.element .number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: rgba(93, 97, 58, 0.75);
}
.element .symbol {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  font-size: 60px;
  font-weight: bold;
  color: black;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(213, 189, 151, 0.95));
  -moz-filter: drop-shadow(0px 0px 20px rgba(213, 189, 151, 0.95));
  -o-filter: drop-shadow(0px 0px 20px rgba(213, 189, 151, 0.95));
  -ms-filter: drop-shadow(0px 0px 20px rgba(213, 189, 151, 0.95));
  filter: drop-shadow(0px 0px 20px rgba(213, 189, 151, 0.95));
}
.element .details {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  color: rgba(107, 0, 0, 0.9);
  font-weight: bold;
}

button {
  margin: 0 5px;
  color: rgba(209, 0, 0, 0.9);
  background: transparent;
  outline: 1px solid rgba(209, 0, 0, 0.9);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
button:hover {
  background-color: rgba(107, 0, 0, 0.4);
}
button:active, button.active {
  color: white;
  background-color: rgba(107, 0, 0, 0.8);
}

#output {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

#input {
  display: none;
}
