html {
  height: 100%;
}

body {
  height: 100%;
  background: #110000 url(./images/bg_body.jpg) center center;
  background-size: cover;
  margin: 0;
  font-family: Arial;
  overflow: hidden;
  cursor: move;
}

a {
  color: black;
}

.element {
  cursor: pointer !important;
}

#info {
  position: absolute;
  width: 100%;
  color: black;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.element {
  width: 120px;
  height: 160px;
  text-align: center;
  cursor: default;
}
.element:hover {
  box-shadow: 0px 0px 12px #c1b39e;
}
.element div:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px #5d4f3a;
  border: 1px solid rgba(107, 0, 0, 0.9) !important;
}
.element .number {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 28px;
  padding-top: 8px;
  padding-right: 8px;
  font-size: 24px;
  text-align: right;
  color: #5d613a;
  font-family: "BiauKai";
}
.element .symbol {
  position: absolute;
  top: 36px;
  left: 0px;
  right: 0px;
  font-size: 60px;
  font-weight: bold;
  color: black;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(213, 189, 151, 0.95));
  -moz-filter: drop-shadow(0px 0px 20px rgba(213, 189, 151, 0.95));
  -o-filter: drop-shadow(0px 0px 20px rgba(213, 189, 151, 0.95));
  -ms-filter: drop-shadow(0px 0px 20px rgba(213, 189, 151, 0.95));
  filter: drop-shadow(0px 0px 20px rgba(213, 189, 151, 0.95));
}
.element .details {
  position: absolute;
  bottom: 0px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 8px;
  height: 36px;
  left: 0px;
  right: 0px;
  font-family: "BiauKai";
  font-size: 22px;
  color: #6b0000;
  font-weight: bold;
}
.element .details.total-2 {
  padding: 0px 4px 0 0;
  height: 18px;
  font-size: 18px;
}
.element .details.total-2.idx-0 {
  bottom: 32px;
}
.element .details.total-2.idx-1 {
  padding-bottom: 8px;
}
.element .details.total-4, .element .details.total-3 {
  padding: 0px;
  height: 20px;
  width: 56px;
  white-space: nowrap;
  overflow: visible;
  font-size: 12px;
}
.element .details.total-4.idx-0, .element .details.total-4.idx-1, .element .details.total-3.idx-0, .element .details.total-3.idx-1 {
  bottom: 32px;
}
.element .details.total-4.idx-2, .element .details.total-4.idx-3, .element .details.total-3.idx-2, .element .details.total-3.idx-3 {
  padding-bottom: 8px;
}
.element .details.total-4.idx-1, .element .details.total-4.idx-3, .element .details.total-3.idx-1, .element .details.total-3.idx-3 {
  left: 60px;
}
.element .details.total-6, .element .details.total-5 {
  text-align: left;
  padding: 0px 2px;
  height: 12px;
  width: 56px;
  white-space: nowrap;
  overflow: visible;
  font-size: 10px;
}
.element .details.total-6.idx-0, .element .details.total-6.idx-1, .element .details.total-5.idx-0, .element .details.total-5.idx-1 {
  bottom: 40px;
}
.element .details.total-6.idx-2, .element .details.total-6.idx-3, .element .details.total-5.idx-2, .element .details.total-5.idx-3 {
  bottom: 24px;
}
.element .details.total-6.idx-4, .element .details.total-6.idx-5, .element .details.total-5.idx-4, .element .details.total-5.idx-5 {
  padding-bottom: 8px;
}
.element .details.total-6.idx-1, .element .details.total-6.idx-3, .element .details.total-6.idx-5, .element .details.total-5.idx-1, .element .details.total-5.idx-3, .element .details.total-5.idx-5 {
  left: 60px;
}

button {
  margin: 0 5px;
  color: rgba(209, 0, 0, 0.9);
  background: transparent;
  outline: 1px solid rgba(209, 0, 0, 0.9);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
button:hover {
  background-color: rgba(107, 0, 0, 0.4);
}
button:active, button.active {
  color: white;
  background-color: rgba(107, 0, 0, 0.8);
}

#output {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

#input {
  display: none;
}
