script(src='js/jquery.js')
script(src='main.js')
link(rel="stylesheet", type="text/css", href="styles.css")
body#sketch
    iframe(src='users/index.html')
    iframe(src='tmuse/index.html')
    iframe(src='dict/index.html')
    <br>
    iframe(src='ball/index.html')
    iframe(src='lhc/index.html')
    iframe(src='map/index.html')
