body#sketch {
  background: #DDF;
  margin: 0;
  padding: 0;
}
body#sketch iframe {
  width: 33%;
  height: 50%;
  border: 0;
}

iframe {
  background: black;
}

body .twinkling {
  width: 100%;
  height: 100%;
}
body .content-wrapper {
  display: none;
}

.iframe-wrapper {
  border-radius: 10px;
}

.iframe {
  background: black;
}

.iframe-wrapper, .iframe {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .iframe-wrapper .controls a {
  width: 4em;
}
