!!!html 5
script(src='js/three.min.js')
script(src='js/OrbitControls.js')
script(src='js/controls/TrackballControls.js')
script(src='js/jquery.js')
script(src='main.js?_')
link(rel="stylesheet", type="text/css", href="styles.css?_")
div#canvas
#output-section
  ul#output
h1 TMuse
input#input(value="èŒ")
button#submit Draw It!

